*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/milky-way-4.PNG);
    background-size: cover;
}

.wrapper{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-custom{
    display: grid;
    justify-content: start;
    margin-left: 10vh;
    float: left;
    overflow: hidden;
}

.modal-content-custom{
    background-color: transparent;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: whitesmoke;
    pointer-events: auto;
    background-clip: padding-box;
    outline: 0;
    font-family: 'DO Futuristic', sans-serif;
    font-size: small;
    font-weight: lighter;
    text-align: justify;
    letter-spacing: 1px;
}

.modal-header{
    border: 1px solid whitesmoke;
    border-inline: 0px;
    border-bottom: 0px;
    border-image: linear-gradient(to right, whitesmoke 40%, transparent 95%)100% 1;
    border-radius: 3.5%;
    background-origin: border-box;
    background-clip: content-box, border-box;
}
.modal-body{
    border: 1px solid;
    border-image: linear-gradient(to left, whitesmoke 40%, transparent 95%)100% 1;
    border-radius: 3.5%;
    border-inline: 0px;
    border-top: 0px;
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.table-custom{
    width: 100%;
    margin-block: 0.5rem;
    vertical-align: top;
    border-color: transparent;
    caption-side: bottom;
    border-collapse: collapse;
}

#value-style{
    padding-left: 15px;
}

@media (min-width: 576px){
    .modal-dialog {
        max-width: var(--bs-modal-width);
        margin-right: auto;
        /* margin-left: auto; */
    }
}

.modal-backdrop {
    --bs-backdrop-zindex: 1050;
    --bs-backdrop-bg: #000;
    --bs-backdrop-opacity: 0.5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--bs-backdrop-zindex);
    width: 100vw;
    height: 100vh;
}

.modal-backdrop.show {
    opacity: 0;
}

.btn-position{
    position: fixed;
    top: 1%;
    right: 1%;
    z-index: 99;
}

.custom-btn{
    background-color: transparent;
    border: none;
    border-radius: 60%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px; 
    height: 40px;
}
.custom-btn svg {
    width: 100%;
    height: 100%;
    fill: rgba(245, 245, 245, 0.51);
  }  
.custom-btn:hover {
background-color: rgba(0, 0, 0, 0.1); 
}
.custom-btn:focus,
.custom-btn:focus-visible {
outline: 2px solid blue; 
}
.custom-btn:active {
    background-color: whitesmoke; 
}

.planet:hover{
    border: 0.5px solid rgba(255, 255, 255, 50%);
}

/*-- index --*/
#universe{
    z-index: 1;
}
#mercury {
    z-index: 10; 
}

#venus {
    z-index: 9; 
}

#earth {
    z-index: 8; 
}

#moon {
    z-index: 7; 
}

#mars {
    z-index: 6; 
}

#jupiter {
    z-index: 5; 
}

#saturn {
    z-index: 4; 
}

#uranus {
    z-index: 3; 
}

#neptune {
    z-index: 2; 
}

#sun {
    z-index: 1; 
}
/*--------------------------- Neptune ---------------------------*/
.neptune-container {
    position: absolute;
    height: 510px;
    width: 1320px; 
    border-radius: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.26);
}

.neptune{
    border-radius: 50%;
    background: url(./assets/planets2/neptune.png);
    box-shadow: 0em 0em 1em #253378, inset 0.1em -0.2em 1em #bad2ff4a;
    background-repeat: repeat;
    background-size: 210%;
}

.neptune-container > canvas {
    height: 60px;
    width: 60px;
    animation: neptune-translation 93954ms linear infinite, neptune-rotation 6500ms linear infinite;
}

/*--------------------------- Uranus ---------------------------*/
.uranus-container{
    position: absolute;
    height: 440px;
    width: 1200px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.26);
}

.uranus{
    border-radius: 50%;
    background: url(./assets/planets2/uranus.png);
    box-shadow: 5px 7px 13px 4px #14484f, inset 14px 3px 19px #268895;
    background-repeat: repeat;
    background-size: 210%;
}

.uranus-container > canvas {
    height: 50px;
    width: 50px;
    animation: uranus-translation 73954ms linear infinite, uranus-rotation 8000ms linear infinite;
}

.uranus-orbit{
    position: absolute;
    height: 104px;
    width: 95px;
    border-radius: 100%;
    animation: uranus-translation 73954ms linear infinite;
}

.uranus-ring 
{
    width:  90px;
    height: 100px;
    border-inline: solid 9px #268895;
    border-radius: 60%;
    position: absolute;
    transform: rotate3d(1,1,0,95deg);
}

/*--------------------------- Saturn ---------------------------*/
.saturn-container{
    position: absolute;
    height: 360px;
    width: 1100px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.26);
}

.saturn{
    border-radius: 50%;
    background: url(./assets/planets2/saturn.png);
    box-shadow: inset 0px -1px 71px #70560e61, -2px -2px 71px #ffe226cc;
    background-repeat: repeat;
    background-size: 210%;
}

.saturn-container > canvas {
    height: 75px;
    width: 75px;
    animation: saturn-translation 53954ms linear infinite, saturn-rotation 7000ms linear infinite;
}

.saturn-orbit{
    position: absolute;
    height: 112px;
    width: 186px;
    border-radius: 100%;
    animation: saturn-translation 53954ms linear infinite;
}

.saturn-ring 
{
    width:  184px;
    height: 120px;
    border-inline: solid 35px #b8b08d;
    border-radius: 60%;
    position: absolute;
    transform: rotate3d(1,0,0,75deg);
}


/*--------------------------- Jupiter ---------------------------*/
.jupiter-container{
    position: absolute;
    height: 280px;
    width: 940px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.26);
}

.jupiter{
    border-radius: 50%;
    background: url(./assets/planets2/jupiter.png);
    box-shadow: inset -20px -18px 65px #775a31b0, -1px -3px 65px #ad7323;
    background-repeat: repeat;
    background-size: 210%;
}

.jupiter-container > canvas {
    height: 95px;
    width: 95px;
    animation: jupiter-translation 43954ms linear infinite, jupiter-rotation 5000ms linear infinite;
}

/*--------------------------- Mars ---------------------------*/
.mars-container{
    position: absolute;
    height: 200px;
    width: 700px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.26);
}

.mars{
    border-radius: 50%;
    background: url(./assets/planets2/mars.png);
    box-shadow:  33px 33px 65px #511400,
                -3px 0px 65px #d73600;
    background-repeat: repeat;
    background-size: 210%;
}

.mars-container > canvas {
    height: 30px;
    width: 30px;
    animation: mars-translation 33954ms linear infinite, mars-rotation 6000ms linear infinite;
}

/*--------------------------- Earth ---------------------------*/
.earth-container{
    position: absolute;
    height: 150px;
    width: 560px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.26);
}

.earth{
    border-radius: 205px;
    background: url(./assets/planets2/earth.png);
    box-shadow: 0em 0em 1em #111e44, inset 0.1em -0.2em 1em #355cd2;
    background-repeat: repeat;
    background-size: 200% 100%;
}

.earth-container > canvas {
    height: 40px;
    width: 40px;
    animation: earth-translation 23954ms linear infinite, earth-rotation 6000ms linear infinite;
}

.earth-orbit{
    position: absolute;
    height: 20px;
    width: 60px;
    border-radius: 100%;
    border: 0.5px solid rgba(255, 255, 255, 0.26);
    animation: earth-translation 23954ms linear infinite;
}

.moon-container {
    position: absolute;
    height: 100%;
    width: 100%;
    animation: moon-orbit 12000ms linear infinite;
}

.earth-moon{
    border-radius: 50%;
    background: url(./assets/planets2/mercury.png);
    box-shadow:  inset -1px 1px 8px #a4a4a4, -2px 0px 8px #f6f6f6;
    background-repeat: repeat;
    background-size: 100%;
}

.moon-container > canvas {
    height: 13px;
    width: 13px;
}

/*--------------------------- Venus ---------------------------*/
.venus-container{
    position: absolute;
    height: 95px;
    width: 460px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.26);
}

.venus{
    border-radius: 50%;
    background: url(./assets/planets2/venus.png);
    box-shadow: 0em 0em 1em #000, 0.1em -0.2em 1em #f0d08b;
    background-repeat: repeat;
    background-size: 210%;
}

.venus-container > canvas {
    height: 35px;
    width: 35px;
    animation: venus-translation 13954ms linear infinite, venus-rotation 7000ms linear infinite;
}

/*--------------------------- Mercury ---------------------------*/
.mercury-container{
    position: absolute;
    height: 60px;
    width: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid rgba(255, 255, 255, 0.26);
}

.mercury{
    border-radius: 50%;
    background: url(./assets/planets2/mercury.png);
    box-shadow:  0em 0em 1em #303030,
                0.1em -0.2em 1em #7e7e7e;
    background-repeat: repeat;
    background-size: 210%;
}

.mercury-container > canvas {
    height: 10px;
    width: 10px;
    animation: mercury-translation 3954ms linear infinite, mercury-rotation 4054ms linear infinite;
}

/*--------------------------- Sun ---------------------------*/
.sun-container{
    position: absolute;
    height: 0px;
    width: 0px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border:  1px solid white;
}

.sun{
    border-radius: 50%;
    background: url(./assets/planets2/sun.png);
    box-shadow:  2px 7px 60px #cf8e57, inset -10px -5px 60px #ffcab1;
    background-repeat: repeat;
    background-size: 200% 100%;
}

.sun-container > canvas {
    height: 160px;
    width: 160px;
    animation: sun-rotation 9500ms linear infinite;
}

/*--------------------------- Key frames neptune ---------------------------*/
@keyframes neptune-translation {
    0% {
        transform: rotate(0deg) translateX(660px) translateY(0) rotate(0deg);
    }
    50%{
        transform: rotate(90deg) translateX(255px) translateY(0) rotate(-90deg);
    }
    100% {
        transform: rotate(360deg) translateX(660px) translateY(0) rotate(-360deg);
    }
}
@keyframes neptune-rotation {
    to{background-position: 200% 0;}
}

/*--------------------------- Key frames uranus ---------------------------*/
@keyframes uranus-translation {
    0%{
        transform: rotate(0deg) translate(600px) rotate(0deg);
    }
    50%{
        transform: rotate(90deg) translateX(220px) translateY(0) rotate(-90deg);
    }
    100%{
        transform: rotate(360deg) translate(600px) rotate(360deg); 
    }
}
@keyframes uranus-rotation {
    to{background-position: 200% 0;}
}

/*--------------------------- Key frames saturn ---------------------------*/
@keyframes saturn-translation {
    0%{
        transform: rotate(0deg) translate(550px) rotate(0deg);
    }
    50%{
        transform: rotate(90deg) translateX(180px) translateY(0) rotate(-90deg);
    }
    100%{
        transform: rotate(360deg) translate(550px) rotate(360deg); 
    }
}
@keyframes saturn-rotation {
    to{background-position: 200% 0;}
}

/*--------------------------- Key frames jupiter ---------------------------*/
@keyframes jupiter-translation {
    0%{
        transform: rotate(0deg) translate(470px) rotate(0deg);
    }
    50%{
        transform: rotate(90deg) translateX(140px) translateY(0) rotate(-90deg);
    }
    100%{
        transform: rotate(360deg) translate(470px) rotate(360deg); 
    }
}
@keyframes jupiter-rotation {
    to{background-position: 200% 0;}
}

/*--------------------------- Key frames mars ---------------------------*/
@keyframes mars-translation {
    0%{
        transform: rotate(0deg) translate(350px) rotate(0deg);
    }
    50%{
        transform: rotate(90deg) translateX(100px) translateY(0) rotate(-90deg);
    }
    100%{
        transform: rotate(360deg) translate(350px) rotate(360deg); 
    }
}
@keyframes mars-rotation {
    to{background-position: 200% 0;}
}

/*--------------------------- Key frames earth ---------------------------*/
@keyframes earth-translation {
    0%{
        transform: rotate(0deg) translate(280px) rotate(0deg);
    }
    50%{
        transform: rotate(180deg) translate(75px) rotate(-180deg);
    }
    100%{
        transform: rotate(360deg) translate(280px) rotate(360deg); 
    }
}

@keyframes moon-orbit {
    0% {
        transform: rotate(0deg) translate(0.5px) rotate(0deg);
    }
    100% {
        transform: rotate(360deg) translate(0.5px) rotate(360deg);
    }
}
@keyframes earth-rotation {
    to{background-position: -200% 0;}
}

/*--------------------------- Key frames venus ---------------------------*/
@keyframes venus-translation {
    0% {
        transform: translate(230px, 0px) rotate(0deg);
    }
    12.5% {
        transform: translate(162.5px, 23.75px) rotate(45deg);
    }
    25% {
        transform: translate(0px, 47.5px) rotate(90deg);
    }
    37.5% {
        transform: translate(-162.5px, 23.75px) rotate(135deg);
    }
    50% {
        transform: translate(-230px, 0px) rotate(180deg);
    }
    62.5% {
        transform: translate(-162.5px, -23.75px) rotate(225deg);
    }
    75% {
        transform: translate(0px, -47.5px) rotate(270deg);
    }
    87.5% {
        transform: translate(162.5px, -23.75px) rotate(315deg);
    }
    100% {
        transform: translate(230px, 0px) rotate(360deg);
    }
}
@keyframes venus-rotation {
    to{background-position: 200% 0;}
}

/*--------------------------- Key frames mercury ---------------------------*/
@keyframes mercury-translation {
    0%{
        transform: rotate(0deg) translate(150px) rotate(0deg);
    }
    50%{
        transform: rotate(90deg) translateX(30px) translateY(0) rotate(-90deg);
    }
    100%{
        transform: rotate(360deg) translate(150px) rotate(360deg); 
    }
}

@keyframes mercury-rotation{
    to{background-position: 200% 0;}
}

/*--------------------------- Key frames sun ---------------------------*/
@keyframes sun-translation {
    0%{
        transform: rotate(0deg) translate(0px) rotate(0deg);
    }
    100%{
        transform: rotate(360deg) translate(0px) rotate(360deg); 
    }
}
@keyframes sun-rotation {
    to{background-position: 200% 0;}
}